<h1>Cargar Agendas</h1>

{% if error_message %}
<div class="alert alert-danger">
  {{ error_message }}
</div>
{% endif %}

{% if message %}
<div class="alert alert-success">
  {{ message }}
</div>
{% endif %}

<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="form-group">
    <label for="excel_file">Archivo Excel:</label>
    <input type="file" name="excel_file" class="form-control-file" required>
  </div>
  <button type="submit" class="btn btn-primary">Cargar</button>
</form>