  {% if error_message %}
  <p class="text-danger">{{ error_message }}</p>
  {% endif %}

  {% if success_message %}
  <p class="text-success">{{ success_message }}</p>
  {% endif %}

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
      <label for="excel_file">Archivo Excel:</label>
      <input type="file" name="excel_file" class="form-control-file" id="excel_file">
    </div>
    <button type="submit" class="btn btn-primary">Cargar</button>
  </form>